.App {
  text-align: center;
}

.RED {
  background-color: red;
}

.GridCell{
  margin-top: 2em;
}

.CardTitle{
  font-size: 1.2em;
  width: 75%;
}

.CardScoreBox{
  background-color: #c2c2c2;
  position: absolute;
  right: 0;
  top: 0;
  width: 28%;
  height: 20%;
}

.CardScoreBox .Score{
  font-size: 1.5em;
  margin: 0 auto;
  margin-top: 25%;
}